@font-face {
  font-family: 'dats24';
  src:  url('${server.root()}resources/fonts/dats24.eot?a2hazq');
  src:  url('${server.root()}resources/fonts/dats24.eot?a2hazq#iefix') format('embedded-opentype'),
    url('${server.root()}resources/fonts/dats24.ttf?a2hazq') format('truetype'),
    url('${server.root()}resources/fonts/dats24.woff?a2hazq') format('woff'),
    url('${server.root()}resources/fonts/dats24.svg?a2hazq#dats24') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="dats24-"], [class*=" dats24-"] {
  color: inherit;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dats24' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dats24-icon-night:before {
  content: "\e900";
  color: #4b600b;
}
.dats24-icon-day:before {
  content: "\e901";
  color: #4b600b;
}
.dats24-icon-search:before {
  content: "\e902";
  color: #4b600b;
}
.dats24-icon-filter:before {
  content: "\e903";
  color: #4b600b;
}
.dats24-icon-bolt:before {
  content: "\e904";
  color: #4b600b;
}
.dats24-icon-flame:before {
  content: "\e905";
  color: #4b600b;
}
.dats24-icon-printer:before {
  content: "\e906";
  color: #4b600b;
}
.dats24-icon-repeat:before {
  content: "\e907";
  color: #4b600b;
}
.dats24-icon-card:before {
  content: "\e908";
  color: #4b600b;
}
.dats24-icon-cellphone:before {
  content: "\e909";
  color: #4b600b;
}
.dats24-icon-checkmark:before {
  content: "\e90a";
  color: #4b600b;
}
.dats24-icon-globe:before {
  content: "\e90b";
  color: #4b600b;
}
.dats24-icon-info-isolated:before {
  content: "\e90c";
  color: #4b600b;
}
.dats24-icon-info:before {
  content: "\e90d";
  color: #4b600b;
}
.dats24-icon-line-diagonal:before {
  content: "\e90e";
  color: #4b600b;
}
.dats24-icon-line-horizontal:before {
  content: "\e90f";
  color: #4b600b;
}
.dats24-icon-mail:before {
  content: "\e910";
  color: #4b600b;
}
.dats24-icon-off:before {
  content: "\e911";
  color: #4b600b;
}
.dats24-icon-plus:before {
  content: "\e912";
  color: #4b600b;
}
.dats24-icon-warning:before {
  content: "\e913";
  color: #4b600b;
}
.dats24-icon-camera:before {
  content: "\e914";
  color: #4b600b;
}
.dats24-icon-cross:before {
  content: "\e915";
  color: #4b600b;
}
.dats24-icon-datepicker:before {
  content: "\e916";
  color: #4b600b;
}
.dats24-icon-home:before {
  content: "\e917";
  color: #4b600b;
}
.dats24-icon-pencil:before {
  content: "\e918";
  color: #4b600b;
}
.dats24-icon-pointer-down:before {
  content: "\e919";
  color: #4b600b;
}
.dats24-icon-pointer-left:before {
  content: "\e91a";
  color: #4b600b;
}
.dats24-icon-pointer-right:before {
  content: "\e91b";
  color: #4b600b;
}
.dats24-icon-pointer-up:before {
  content: "\e91c";
  color: #4b600b;
}
.dats24-icon-person:before {
  content: "\e91d";
  color: #4b600b;
}
.dats24-icon-placeholder:before {
  content: "\e91e";
  color: #4b600b;
}
.dats24-icon-tag:before {
  content: "\e91f";
  color: #4b600b;
}
